.primary-button {
    background-color: var(--color-second);
    color: var(--color-primary);
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    border-radius: 4px;
}